.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    &__content{
        font-size: 24px;
        line-height: 200%;
        text-align: center;
        color: #fff;
        @include media(576){
            font-size: 14px;
            line-height: 200%;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &__title{
        background: linear-gradient(90deg, #F1F011 21.27%, #F9D311 63.57%); 
        color: transparent;
        background-clip: text;
        font-weight: 500;
        font-size: 24px;
        line-height: 200%;
        @include media(576){
            font-weight: 500;
            font-size: 18px;
            line-height: 200%;
            text-align: center;
        }
    }
}
.check{
    margin-bottom: 135px;
    @include media(576){
        margin-bottom: 100px;
    }
    &__title{
        margin-bottom: 50px;
        @include media(576){
            margin-bottom: 25px;   
        }
    }
    &__content{
        column-gap: 30px;
        row-gap: 10px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include media(992){
            flex-wrap: wrap; 
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(249, 211, 17, 0.1);
        border: 1px solid rgba(255, 127, 0, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(40px);
        padding: 10px;
        width: 25%;
        @include media(992){
            width: calc(50% - 15px);   
        }
        img{
            max-width: 100%;
        }
    }
}
.token{
    margin-bottom: 135px;
    @include media(576){
        margin-bottom: 100px;
    }
    &__title{
        margin-bottom: 35px;
        @include media(576){
            margin-bottom: 20px;
        }
    }
    &__p{
        font-weight: 300;
        font-size: 24px;
        line-height: 200%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
        @include media(576){
            font-size: 14px;
            line-height: 200%;
            margin-bottom: 50px;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 30px;
        row-gap: 20px;
        @include media(992){
            flex-wrap: wrap;   
        }
    }
    &__item{
        background: rgba(249, 211, 17, 0.1);
        border: 1px solid rgba(255, 127, 0, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(40px);
        width: 33.333%;
        padding: 20px 30px;
        @include media(992){
            width: 100%;
        }
        &-title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @extend .text-grad;
            font-size: 24px;
            line-height: 200%;
            text-align: center;
            margin-bottom: 10px;
            @include media(576){
                font-size: 18px;
                line-height: 200%;
            }
            img{
                margin-right: 30px;
                @include media(576){
                    margin-right: 10px;   
                    max-width: 30px;
                    height: 30px;
                }
            }
        }
        &-p{
            font-weight: 300;
            font-size: 18px;
            line-height: 200%;
            color: #FFFFFF;
            @include media(576){
                font-size: 14px;
                line-height: 200%;
            }
            a{
                color: #FF7F00;
            }
        }
    }
}