.roadmap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 135px;
    @include media(576){
        margin-bottom: 100px;   
    }
    &__title{
        margin-bottom: 35px;
        @include media(576){
            margin-bottom: 20px;   
        }
    }
    &__subtitle{
        font-weight: 300;
        font-size: 24px;
        line-height: 200%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 115px;
        @include media(576){
            margin-bottom: 75px;    
        }
    }   
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        row-gap: 100px;
        @include media(992){
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;   
        }
    }
    &__col{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include media(992){
            width: 100%;
            justify-content: center;
        }
        @include media(768){
            justify-content: flex-start;   
        }
    }
    &__item{
        box-sizing: border-box;
        width: 300px;
        position: relative;
        padding: 20px 30px;
        @include media(576){
            width: 220px;   
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            backdrop-filter: blur(40px);
            background: rgba(249, 211, 17, 0.1);
            border: 1px solid rgba(255, 127, 0, 0.2);
        }
        &::before{
            content: attr(data-num);
            position: absolute;
            top: -60px;
            left: 280px;
            font-weight: 600;
            font-size: 144px;
            line-height: 100%;
            letter-spacing: 1px;
            background-clip: text;
            -webkit-text-stroke: 1px #FF7F00;
            color: transparent;
            z-index: -2;
            @include media(576){
                left: 191px;
                font-size: 96px;
                line-height: 100%;
            }
        }
        &-title{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 24px;
            line-height: 200%;
            text-align: center;
            @extend .text-grad;
            @include media(576){
                font-size: 18px;
                line-height: 200%;
                text-align: center;
            }
            img{
                margin-right: 10px;
            }
        }
        &-p{
            font-weight: 300;
            font-size: 18px;
            line-height: 200%;
            color: #FFFFFF;
            @include media($sm){
                font-size: 14px;
            }
        }
    }
}