mixin audit()
    .audit.container 
        h2.title.grad.audit__title AUDIT
        p.audit__subtitle We believe in our security.
        .audit__items
            .audit__item 
                img(src="images/audit-1.png", alt="")
            .audit__item 
                img(src="images/audit-2.png", alt="")