mixin footer()
    .faq.container
        h2.title.faq__title.grad FAQ
        p.faq__subtitle Answering your questions.
        .set 
            a(href="#!") How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                i.fa.fa-plus
            .content 
                p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
        .set 
            a(href="#!") Is the SHIBA token accessible, does it have any utility?
                i.fa.fa-plus
            .content 
                p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
        .set 
            a(href="#!") How do I buy SHIBA token?
                i.fa.fa-plus
            .content 
                p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
                
    .footer__img
        img(src="images/footer.png", alt="").footer__light
    .footer 
        p.footer__p © 2021 BITSHIBA TOKEN
        .container
            a(href="#top").footer__top 
                img(src="images/up.png", alt="") 