mixin header()
    header.header#top 
        .header__nav.container 
            .header__left 
                a(href="#!").header__logo
                    img(src="images/header-logo.png", alt="")
                button.header__button 
                    span.header__button-line
            ul.header__list.desktop
                li.header__li 
                    a(href="https://coinmarketcap.com/" target="_blank").header__link COINMARKETCAP 
                li.header__li 
                    a(href="https://www.dextools.io/" target="_blank").header__link DEX TOOLS 
                li.header__li 
                    a(href="#!").header__link LITEPAPER 
                li.header__li 
                    a(href="#roadmap").header__link ROADMAP 
            .header__right.desktop 
                a(href="#!").header__btn LIVE CHART 
                a(href="#!").header__soc.mr15
                    img(src="images/telegram.png", alt="" target="_blank")
                a(href="#!").header__soc 
                    img(src="images/twitter.png", alt="" target="_blank")
        .header__menu.mob 
            img(src="images/light.png", alt="").header__menu-light
            ul.header__list
                li.header__li 
                    a(href="#!").header__link COINMARKETCAP 
                li.header__li 
                    a(href="#!").header__link DEX TOOLS 
                li.header__li 
                    a(href="#!").header__link LITEPAPER 
                li.header__li 
                    a(href="#!").header__link ROADMAP 
            a(href="#!").header__btn LIVE CHART
            .header__menu-socs 
                a(href="#!").header__soc.mr15
                    img(src="images/telegram.png", alt="" target="_blank")
                a(href="#!").header__soc 
                    img(src="images/twitter.png", alt="" target="_blank")