mixin intro()
    .intro 
        .intro__body.container
            img(src="images/light.png", alt=""  draggable="false").intro__light
            img(src="images/logo.png", alt=""  draggable="false").intro__logo
            h1.intro__title BITSHIBA AIMS TO GO ABOVE AND BEYOND FOR ITS COMMUNITY
            h3.intro__subtitle OUR COMMUNITY IS EVERYTHING TO US AND THE FOUNDATION FOR OUR SUCCESS. BITSHIBA IS HAPPY TO PROVIDE EVERYONE THE OPPORTUNITY TO INVEST SAFELY INTO THE MOST CURRENT AND HOTTEST PROJECT LAUNCH ON BINANCE SMART CHAIN $SHIBA
            button(type="button" onclick="openPopup()").intro__btn Buy On Pancakeswap 
            a(href="#!").intro__btn_mob LIVE CHART
            .intro__imgs 
                img(src="images/intro-img-1.png", alt="" draggable="false")
                img(src="images/intro-img-2.png", alt="" draggable="false")