mixin popup()
    .popup 
        button(type='button' onclick="closePopup()").popup__close 
            img(src="images/close.png", alt="")
        h2.popup__title JOIN OUR COMMUNITY
        img(src="images/logo.png", alt="").popup__img
        a(href="#!").popup__btn Join BitShiba Telegram 
        a(href="#!").popup__btn Join BitShiba Discord 
        a(href="#!").popup__btn Follow BitShiba on Twitter 