mixin roadmap()
    .roadmap.container
        h2.title.grad.roadmap__title ROADMAP
        p.roadmap__subtitle Our steps to success.
        .roadmap__content 
            .roadmap__col
                .roadmap__item(data-num="01")  
                    .roadmap__item-title 
                        img(src="images/token-1.png", alt="")
                        | Phase 1
                    p.roadmap__item-p • Website Launch <br>• Smart Contract Deployment <br>• 10K Community Members <br>• 100% Fair Token Launch <br>• DEX Listing <br>• Liquidity Lock with Unicrypt <br>• Burn 50% of Total Supply
            .roadmap__col
                .roadmap__item(data-num="02")  
                    .roadmap__item-title 
                        img(src="images/token-1.png", alt="")
                        | Phase 2
                    p.roadmap__item-p • Whitepaper Release <br>• Coinmarketcap + Coingecko Listing <br>• Growth, Promotions, Awareness <br>• Influencer Marketing <br>• 50,000 Community Members
            .roadmap__col
                .roadmap__item(data-num="03")  
                    .roadmap__item-title 
                        img(src="images/token-1.png", alt="")
                        | Phase 3
                    p.roadmap__item-p • Certik Audit <br>• Decentralized DAO Voting System <br>• High Profile Partnerships <br>• Increased HODL Incentives <br>• Top 100 crypto by Marketcap
            .roadmap__col
                .roadmap__item(data-num="04")  
                    .roadmap__item-title 
                        img(src="images/token-1.png", alt="")
                        | Phase 4
                    p.roadmap__item-p Interconnected Blockchain Swaps <br>• Launchpad <br>• Nextgen NFTs <br>• Crypto Outreach Program <br>• Top 50 crypto by Marketcap