doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="styles/index.css")
    body 
        include components/header.pug 
        +header
        include components/intro.pug 
        +intro
        include components/adress.pug 
        +adress
        script(src="scripts/index.js") 